<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="Account">
 	<select id="findAll" resultType="aDTO" parameterType="long">
 		select * from account_table where c_number = #{c_number}
 	</select>
 	<insert id="create" parameterType="aDTO">
 		insert into account_table(c_number, a_bank, a_info, a_memo, a_pName, a_tAsset)
 			values(#{c_number}, #{a_bank}, #{a_info}, #{a_memo}, #{a_pName}, #{a_tAsset})
 	</insert>
 	<select id="detail" parameterType="long" resultType="aDTO">
 		select * from account_table where a_number = #{a_number}
 	</select>
 	<update id="update" parameterType="aDTO">
 		update account_table set a_bank = #{a_bank}, a_info = #{a_info}, a_memo = #{a_memo}, a_pName = #{a_pName} where a_number = #{a_number}, a_tAsset = #{a_tAsset}
 	</update>
 	<select id="login" parameterType="aDTO" resultType="aDTO">
 		select * from account_table where a_number = #{a_number} 
 	</select>
 	<select id="count" resultType="long" parameterType="long">
 		select count(a_number) from account_table c_number = #{c_number}
 	</select>
 	<select id="pList" parameterType="java.util.HashMap" resultType="aDTO">
 		select * from account_table order by c_number desc limit #{start}, #{limit}
 	</select>
 </mapper>