<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="CardInfo">
 	<select id="findAll" resultType="ciDTO" parameterType="long">
 		select * from cardInfo_table where d_number = #{d_number}
 	</select>
 	<insert id="create" parameterType="ciDTO">
 		insert into cardInfo_table (d_cCompany, d_number, a_bank, di_name, di_nName, di_info, di_memo, di_pName, di_tAsset, di_pAsset, di_mAsset)
 			values (#{d_cCompany}, #{d_number}, #{a_bank}, #{di_name}, #{di_nName}, #{di_info}, #{di_memo}, #{di_pName}, #{di_tAsset}, #{di_pAsset}, #{di_mAsset})
 	</insert>
 	<select id="detail" parameterType="long" resultType="ciDTO">
 		select * from cardInfo_table
 	</select>
 	<select id="count" parameterType="long" resultType="long">
 		select count(di_number) from cardInfo_table where d_number = #{d_number}
 	</select>
 	<select id="pList" parameterType="java.util.HashMap" resultType="ciDTO">
 		select * from  cardInfo_table order by di_number desc limit #{start}, #{limit}
 	</select>
 </mapper>