<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="Card">
 	<select id="findAll" resultType="dDTO" parameterType="long">
 		select * from card_table where c_number = #{c_number}
 	</select>
 	<select id="detail" parameterType="long" resultType="dDTO">
 		select * from card_table where d_number = #{d_number}
 	</select>
 	<insert id="create" parameterType="dDTO">
 		insert into card_table(c_number, d_cCompany, d_info, d_memo, d_pName, d_tAsset, d_pAsset, d_mAsset)
 			values(#{c_number}, #{d_cCompany}, #{d_info}, #{d_memo}, #{d_pName}, #{d_tAsset}, #{d_pAsset}, #{d_mAsset})
 	</insert>
 </mapper>