<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases> 
		<typeAlias type="com.money.manager.dto.ClientDTO" alias="cDTO"/>
		<typeAlias type="com.money.manager.dto.AccountDTO" alias="aDTO"/>
		<typeAlias type="com.money.manager.dto.AccountInfoDTO" alias="aiDTO"/>
		<typeAlias type="com.money.manager.dto.AccountContentsDTO" alias="acDTO"/>
		<typeAlias type="com.money.manager.dto.CardDTO" alias="dDTO"/>
		<typeAlias type="com.money.manager.dto.CashDTO" alias="sDTO"/>
		<typeAlias type="com.money.manager.dto.CashInfoDTO" alias="siDTO"/>
	</typeAliases>
</configuration>
